<!DOCTYPE html>
<html ng-app="miApp">

<head>
    <title>Hola Mundo con AngularJS</title>
    <!-- Cargar AngularJS desde CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!--cargamos el controller-->
    <script src="./app/controllers/controller.js"></script>

</head>

<body>
    <div ng-controller="Firstcontroller">
        <input type="text" ng-model="name" placeholder="Escribe tu nombre aquí" />
        {{"Hola "+ nombre}}



        <h3>Comentarios</h3>

        <ul>
            <li ng-repeat="comentario in vector">
                {{comentario.comentario}} - <strong>{{comentario.username}}</strong>
            </li>
        </ul>
    </div>




</body>

</html>